../.3T/
        ../.AndroidStudio2.3/
        ../.VirtualBox/
        ../.android/
        ../.babel.json
        ../.bash_history
        ../.bundle/
        ../.config/
        ../.cordova/
        ../.dbshell
        ../.dia/
        ../.dotnet/
        ../.drush/
        ../.emulator_console_auth_token
        ../.gem/
        ../.gimp-2.8/
        ../.gitconfig
        ../.gitignore
        ../.gradle/
        ../.mongorc.js
        ../.node_repl_history
        ../.ssh/
        ../.v8flags.5.4.500.45.32de4e2b90785ab1a88bc14160da5ea8.json
        ../.vagrant.d/
        ../.viminfo
        ../3D Objects/
        ../AndroidStudioProjects/
        ../AppData/
        ../Application Data/
        ../Basic-Portfolio/
        ../Bootstrap-Portfolio/
        ../Contacts/
        ../Cookies/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Eat Burger/
        ../Favorites/
        ../FestiVibez/
        ../Flashcard-Generator/
        ../FriendFinder/
        ../Giphy-Buttons/
        ../Gopher2/
        ../Hangman-Game/
        ../IntelGraphicsProfiles/
        ../Library/
        ../Links/
        ../Local Settings/
        ../MicrosoftEdgeBackups/
        ../Music/
        ../My Documents/
        ../MyMu - Copy/
        ../MyMu/
        ../NTUSER.DAT
        ../NTUSER.DAT{80f98062-7d43-11e8-be67-a84cad358172}.TM.blf
        ../NTUSER.DAT{80f98062-7d43-11e8-be67-a84cad358172}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{80f98062-7d43-11e8-be67-a84cad358172}.TMContainer00000000000000000002.regtrans-ms
        ../NYT-MERN/
        ../NewYorkTimes/
        ../NewsScraper/
        ../OneDrive/
        ../Pictures/
        ../Portfolio/
        ../Project_1_UCSDBootcamp/
        ../Psychic-Game/
        ../RPS-Multiplayer/
        ../React-Calculator/
        ../Recent/
        ../Responsive-Portfolio/
        ../Saved Games/
        ../Searches/
        ../SendTo/
        ../Start Menu/
        ../Testing/
        ../ToDoList/
        ../Train-Schedule/
        ../TriviaGame/
        ../Videos/
        ../VirtualBox VMs/
        ../ZApp/
        ../_netrc
        ../bamazon/
        ../bilbo-backends/
        ../burger/
        ../composer.json
        ../composer.lock
        ../festi project/
        ../festivibez-2/
        ../gitHubSourceCode/
        ../gopherthat/
        ../liri-node-app/
        ../my-app/
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../nyt-new/
        ../nyt-react/
        ../resume/
        ../sequelizedBurger/
        ../test/
        ../vendor/
        ../week-4-game/
